.container
  .row.justify-content-center#posts
    - @posts.each do |day, posts|
      .col-md-8.post-day
        %h3
          = fa_icon "calendar"
          = day
      .col-md-8
        - posts.each do |post|
          .row.justify-content-center
            .col-md-1
              = image_tag(post.user.image_url)
            .col-md-11
              %p
                %h2= link_to(post.title, post)
                %p= sanitize(post.content, tags: %w(strong p a i em), attributes: %w(href target))
                %span.meta
                  = link_to(post.user.profile_url, target: "_blank") do
                    = fa_icon "github"
                    = post.user.name
                - if post.comments.any?
                  .row.comments
                    - post.comments.take(5).each do |comment|
                      = render "comment_inline", comment: comment, post: post
                    .col-md-12
                      .see-comments
                        = fa_icon "comments"
                        = link_to("Read all comments", post)
