.container
  .row.justify-content-center#post
    .col-md-1
      = image_tag(@post.user.image_url)
    .col-md-7
      %h1= @post.title
      %span.meta
        BY 
        %span= @post.user.name
        —
        = @post.created_at
      - if @post.editable?
        %br/
        = link_to("EDIT", edit_post_path(@post))
        = " "
        = link_to("DELETE", post_path(@post), method: :delete, data: { confirm: 'Are you sure?'})
      %p= sanitize_post_content(@post.content)
      - if user_signed_in?
        = render "comment_form", post: @post, comment: @comment

