.container
  .row.justify-content-center
    .col-md-8#post
      %h1= @post.title
      %span.meta
        BY 
        %span= 'John Doe' 
        —
        = @post.created_at
      - if @post.editable?
        %br/
        = link_to("EDIT", edit_post_path(@post))
        = " "
        = link_to("DELETE", post_path(@post), method: :delete, data: { confirm: 'Are you sure?'})
      %p= sanitize_post_content(@post.content)
