!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rubyflow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  %body
    = gflash
    - if flash[:alert].present?
      %script{:type=>"text/javascript"}
        = add_gritter(flash[:alert], image: :error)
    %header
      .container
        .row.justify-content-center
          .col-md-2
            = link_to(:root) do
              %h1= 'RubyFlow'
          .col-md-6
            %ul
              %li
                = react_component("SubmitPostLink" , {image_url: current_user.try(:image_url), csrf_token: form_authenticity_token, user_signed_in: user_signed_in?})
              %li
                = link_to('http://twitter.com/pdabrowski_k1', target: '_blank') do
                  = fa_icon "twitter"
                  = "Twitter"
              %li
                = link_to(:rss) do
                  = fa_icon "rss"
                  = "RSS"
              - if user_signed_in?
                %li
                  = link_to(:sign_out, method: :delete) do
                    = fa_icon "user"
                    = "Sign out"
    #new_post_form
    = yield
